<%= turbo_frame_tag 'home' do %>    
    <div class="d-flex my-4">        
        <%= link_to "Nuevo Producto", new_product_path, method: :get, class: 'btn btn-primary me-auto', 'data-turbo-frame': '_top' %>
        <h2 class="me-auto"> Productos  </h2>
        <%= link_to "Categorias", categories_path, method: :get, class: 'btn btn-info me-0', 'data-turbo-frame': '_top' %>
    </div>
    <div class="container mt-3">
        <div class="row">   
             <div class="col-sm-3 ">
                 <%= render 'products/search' %> 
                 <%= render 'products/category' %> 
                 <%= render 'products/price' %> 
             </div>  
             <%= turbo_frame_tag 'products', class:'col-sm-9 mb-2' do %> 
                <%= turbo_frame_tag 'products-#{@pagy.page}', class:'row row-cols-1 row-cols-md-3 g-4' do %>    
                    <%= render partial: 'product', collection: @products %>                                       
                <% end %> 
                <div class="mt-5 pt-3 d-flex justify-content-end"> 
                      <%== pagy_bootstrap_nav(@pagy) %>    
                 
                </div>
            <% end %>    
        </div>
    </div>
<% end %>


